HELP.md
.gradle

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# metadata Eclipse
.metadata/

# misc
.DS_Store
*.pem


# Operating System Files

*.DS_Store
Thumbs.db

# Build Files #

bin

.gradle

# Eclipse Project Files #

.classpath
.project
.settings
.springBeans

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Test files

accessingdataneo4j.db
dependency-reduced-pom.xml
README.html